.form div{
    display: flex;
}
.form div{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: wheat;
}

.form input[type="text"],
.form input[type="password"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}
.form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}